<div id="experience" class="experience-section">
  <img src="/assets/section.svg" alt="Hero" class="section-image"/>

  <div class="section-header">
    <div class="header-content">
      <span class="header-line"></span>
      <span class="header-title">Experiences</span>
      <span class="header-line"></span>
    </div>
  </div>

  <div class="experience-content">
    <div class="experience-grid">
      <div class="animation-container">
        <div class="animation-wrapper">
          <app-lottie-animation [animationPath]="animationPath"></app-lottie-animation>
        </div>
      </div>

      <div>
        <div class="experience-list">
          <div *ngFor="let experience of experiences" class="glow-card" [attr.id]="'experience-' + experience.id">
            <div class="card-content">
              <img
                src="/assets/blur-23.svg"
                alt="Hero"
                class="card-bg"
              />
              <div class="card-header">
                <p class="duration-text">{{ experience.duration }}</p>
              </div>
              <div class="card-body">
                <div class="icon-wrapper">
                  <i class="bi bi-person-workspace"></i>
                </div>
                <div>
                  <p class="experience-title">{{ experience.title }}</p>
                  <p class="company-name">{{ experience.company }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
