<div class="navigation-bar">
    <div class="navbar-container">
      <div class="logo">
        <a href="/">Sagar Hariramani</a>
      </div>
      <ul class="nav-links">
        <li><a href="/#about">ABOUT</a></li>
        <li><a href="/#experience">EXPERIENCE</a></li>
        <li><a href="/#skills">SKILLS</a></li>
        <li><a href="/#education">EDUCATION</a></li>
        <li><a href="/blog">BLOGS</a></li>
        <li><a href="/#projects">PROJECTS</a></li>
      </ul>
    </div>
  </div>
  