<div class="navigation-bar">
    <div class="navbar-container">
      <div class="logo">
        <a href="/">Sagar Hariramani</a>
      </div>
      <button class="hamburger" (click)="toggleMenu()" aria-label="Toggle menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </button>
      <ul [ngClass]="{'nav-links': true, 'nav-links-active': isMenuOpen}">
        <li><a href="/#about"(click)="closeMenu()">ABOUT</a></li>
        <li><a href="/#experience"(click)="closeMenu()">EXPERIENCE</a></li>
        <li><a href="/#skills"(click)="closeMenu()">SKILLS</a></li>
        <li><a href="/#education"(click)="closeMenu()">EDUCATION</a></li>
        <li><a href="/#projects"(click)="closeMenu()">PROJECTS</a></li>
        <li><a href="/#achivements"(click)="closeMenu()">ACHIVEMENTS</a></li>
      </ul>
    </div>
  </div>
  