<div id="about" class="about-section">
    <div class="about-label">
      <span class="about-title">
        ABOUT ME
      </span>
      <span class="about-divider"></span>
    </div>
    <div class="about-content">
      <div class="about-description">
        <p class="about-heading">
          Who I am?
        </p>
        <p class="description-text">
          {{ personalData.description }}
        </p>
      </div>
      <div class="about-image">
        <img [src]="personalData.profile" alt="Profile Image" class="profile-image" />
      </div>
    </div>
  </div>
  