.education-section {
  position: relative;
  margin: 3rem 0;
  border-top: 1px solid #25213b;
}

.section-image {
  position: absolute;
  top: 0;
  width: 100%;
}

.section-header {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.header-content {
  display: flex;
  align-items: center;
}

.header-line {
  width: 6rem;
  height: 2px;
  background-color: #1a1443;
}

.header-title {
  background-color: #1a1443;
  color: white;
  padding: 0.5rem 2rem;
  font-size: 1.25rem;
  border-radius: 0.25rem;
}

.education-content {
  padding: 2rem 0;
}

.education-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media (min-width: 992px) {
  .education-grid {
    grid-template-columns: 1fr 1fr;
  }
}

.animation-container {
  display: flex;
  justify-content: center;
  align-items: start;
}

.animation-wrapper {
  width: 100%;
  height: 100%;
}

.education-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.glow-card {
  position: relative;
  background: #0d1224;
  border-radius: 0.75rem;
  border: 1px solid #211B49;
  overflow: hidden;
  padding: 1rem;
  transition: transform 0.3s;
}

.glow-card:hover {
  transform: scale(1.05);
}

.card-content {
  position: relative;
}

.card-bg {
  position: absolute;
  width: 100%;
  opacity: 0.8;
  padding: 10px 0;
}

.card-header {
  display: flex;
  justify-content: center;
  padding: 0rem 0;
}

.duration-text {
  color: #16f2b3;
  font-size: 1rem;
  margin: 0;
}

.card-body {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem 0;
}

.icon-wrapper {
  color: #8b5cf6;
  transition: transform 0.3s;
}

.icon-wrapper:hover {
  transform: scale(1.25);
}

.icon {
  font-size: 2.25rem;
}

.education-title {
  color:#DAD7E6;
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: uppercase;
  margin:0;
}

.institution-name {
  color:#DAD7E6;
  font-size: 1rem;
  margin: 0;
}
.grade{
  color:#DAD7E6;
  font-size: 0.8rem;
  margin: 0;

}
.bi-person-workspace{
  font-size: 30px;
}