<div class="hero-code-container">
    <div class="gradient-lines">
      <div class="line from-transparent via-pink-500 to-violet-600"></div>
      <div class="line from-violet-600 to-transparent"></div>
    </div>
    <div class="code-header">
      <div class="color-dots">
        <div class="dot bg-red"></div>
        <div class="dot bg-orange"></div>
        <div class="dot bg-green"></div>
      </div>
    </div>
    <div class="code-content">
      <code class="code-block">
        <div class="blink">
          <span class="keyword">const</span>
          <span class="variable"> coder</span>
          <span class="operator">=</span>
          <span class="bracket">&#123;</span>
        </div>
        <div>
          <span class="indent1 key">name:</span>
          <span class="string">'Sagar Hariramani'</span>,
        </div>
        <div class="indent1">
          <span class="key">skills:</span>
          <span class="array">['Python', 'Angular', '.Net', 'HTML', 'CSS', 'JavaScript', 'TypeScript', 'C#', 'MYSQL','Power BI','Git'],</span>
        </div>
        <div>
          <span class="indent1 key">hardWorker:</span>
          <span class="boolean">true</span>,
        </div>
        <div>
          <span class="indent1 key">quickLearner:</span>
          <span class="boolean">true</span>,
        </div>
        <div>
          <span class="indent1 key">problemSolver:</span>
          <span class="boolean">true</span>,
        </div>
        <div>
          <span class="indent1 key">hireable:</span>
          <span class="function">function</span>
          <span class="bracket">&#123;</span>
        </div>
        <div>
          <span class="indent2 keyword">return</span>
          <span class="bracket">(</span>
        </div>
        <div>
          <span class="indent3 this">this.</span>
          <span class="variable">hardWorker</span>
          <span class="operator">&amp;&amp;</span>
        </div>
        <div>
          <span class="indent3 this">this.</span>
          <span class="variable">problemSolver</span>
          <span class="operator">&amp;&amp;</span>
        </div>
        <div>
          <span class="indent3 this">this.</span>
          <span class="variable">skills.length</span>
          <span class="operator">&gt;=</span>
          <span class="number">5</span>
        </div>
        <div><span class="indent2 bracket">);</span></div>
        <div><span class="indent1 bracket">&#125;</span></div>
        <div><span class="bracket">&#125;</span></div>
      </code>
    </div>
  </div>