<div id="skills" class="skills-section">
    <div class="blur-circle"></div>
  
    <div class="divider-container">
      <div class="divider"></div>
    </div>
  
    <div class="section-header">
      <div class="header-content">
        <span class="header-line"></span>
        <span class="header-title">Skills</span>
        <span class="header-line"></span>
      </div>
    </div>
  
    <div class="marquee-container">
      <div class="marquee">
        <div *ngFor="let skill of skillsData" class="skill-card">
          <div class="card-border">
            <div class="divider-container">
              <div class="divider"></div>
            </div>
            <div class="card-content">
              <div class="skill-image">
                <img [src]="skill.img" [alt]="skill" class="image">
              </div>
              <p class="skill-name">{{ skill.name }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  